.container
  .page-header.row
    %h1
      Businesses Under the Sea
  - if @businesses.count > 0
    - @businesses.each_with_index do |business, index|
      = render partial: 'businesses/business_listing', locals: { business: business, index: index}
  - else 
    .well
      %p
        Sorry, no businesses, care to create one?