.section.container
  .page-header.row
    %h1 
      Yolo Bungee
      %small 
        4.3/5 Stars (221 reviews)
  .business-info
    .row.well
      .col-sm-4
        %img(src="http://placehold.it/200x200")
      .col-sm-6
        %dl
          %dt
            What is Yolo?
          %dd
            A bungee adventure experience!
          %dt
            Where is Yolo?
          %dd
            On the other side
            Atlanta, GA
            Zipcode
          %dt 
            Description
          %dd
            Come bungee jump your face off!
  .review.well
    %h2
      What a blast!
      %small
        5/5 Stars
    %p
      I went to yolo and they were like totatally safe. Would most def recommend bro.
  .review.well
    %h2
      What a blast!
      %small
        5/5 Stars
    %p
      I went to yolo and they were like totatally safe. Would most def recommend bro.
