- flash.each do |name, msg|
  - if name == 'errors'
    - type = "danger"
  - elsif name == 'notice'
    - type = "success"
  - else
    - type = "info"
  %div(class="alert alert-#{type}")
    %a.close(data-dismiss='alert')
      &#215;
    %ul
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)