- flash.each do |name, msg|
  - if name == 'danger' || name == 'success' || name == 'warning'
    - type = name
  - else
    - type = "info"
  %div(class="alert alert-#{type}")
    %a.close(data-dismiss='alert')
      &#215;
    %ul
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)