.container
  .page-header.row
    %h1
      Businesses Under the Sea
  .business.well
    .row
      .col-xs-9
        %a
          %h2
            1. Yolo Bungee
        %small
          4.3 Stars (221 Reviews)
        %p
          Extreme bungee jumping.
      .col-xs-3
        %a.sale-item.text-center(href="#")
          .sale-tag
            Sale! 
          10% Off!
  .business.well
    %a
      %h2
        2. Fishing
    %small
      1 Stars (4003 Reviews)
    %p
      Cannabalism
